opencv-python==4.7.0.68
pandas==1.5.3
gradio==3.16.2
scikit-learn==1.2.1
scikit-image==0.19.3
Pillow==9.4.0
tqdm==4.63.0
pytoshop==1.2.1
psd-tools==1.9.24
onnx
onnxruntime-gpu
huggingface_hub
segment_anything
requests